{% extends 'parent/dashboard.html' %}
{% load static %}

{% block maincontent %}
<link rel="stylesheet" href="{% static 'css/addfund.css' %}" />

<div class="form-box">
  <h2>💰 Add Fund & Set Limit</h2>

  <form method="POST">
    {% csrf_token %}

    <label>Select Student:</label>
    <select name="child_id" class="input-field" required>
      <option value="">-- Select Child --</option>
      {% for child in children %}
        <option value="{{ child.id }}">{{ child.name }}</option>
      {% endfor %}
    </select>

    <label>Add Amount (₹):</label>
    <input type="number" name="amount" min="1"
           class="input-field" required />

    <label>Spending Limit (₹):</label>
    <input type="number" name="limit" min="0"
           class="input-field" placeholder="Max allowed spend" />

    <button type="submit">Save</button>
  </form>

  {% if message %}
    <div class="success-message">{{ message }}</div>
  {% endif %}
</div>

{% endblock %}
